@charset "UTF-8";

.noDecorA {
    color: white;
    text-decoration: none;
}

#resume {
    display: grid;
    grid-template-columns: 1fr 2fr;
    color: white;
}

#resumeHeader {
    grid-column-start: 1;
    grid-column-end: 3;
    text-align: center;
}

@media screen and (min-width: 750px) {
    #resumeHeader {
        margin-bottom: 5px;
    }

    #contact,
    #education,
    #skill,
    #language {
        margin: 5px 5px 5px 0;
    }

    #aboutMe,
    #experience {
        margin: 5px 0 5px 5px;
    }

    #experience {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 3;
        grid-row-end: 6;
    }
}

@media screen and (max-width: 750px) {
    #resume {
        display: block;
    }

    .box {
        margin: 10px 0;
    }

    .box h2 {
        justify-self: center;
    }
}

span.material-icons-outlined {
    font-size: medium;
}

div#contact a {
    text-decoration: none;
    color: white;
}

div#contact div {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    align-items: center;
}

div#contact div>* {
    margin: 2px 10px;
}